  
.jumbotron{
  text-align: center;
  background: none;
}
.carousel-caption{
  
  color: blue;
}
.sectionlight{
  background-color: #eceeef;
  padding: 2rem;
}
.sectiondark{
  margin-top: 2rem;
  background-color: #cccccc;
  padding: 2rem;
}
.coolstufrapper{
  margin-top: 20px;
  
}
.coolstuffbtn{
  display: block;
  margin: auto;
  background-color: red;
  color: #ffffff;

}
h5.modal-title{
  margin: auto;
}
.place{
  display: block;
  margin: auto;
}
.modalformrapper {
  padding: 2rem;
}
.imgcntr{
  display: block;
  margin: auto;
}
.btncenter{
  width: 315px;
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

